<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tmlshipping>
            <general>
                <enabled>0</enabled>
            </general>
        </tmlshipping>
        <carriers>
            <tml>
                <active>1</active>
                <title>TML</title>
                <name>TML</name>
                <sort_order>15</sort_order>

                <model>Molipa\TmlShipping\Model\Carrier\Tml</model>
            </tml>
        </carriers>
    </default>
</config>
