<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="molipa_tmlshipping_around_config_save"
                type="Molipa\TmlShipping\Plugin\Config\AroundSavePlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="tmlshipping_retry_outbox" xsi:type="object">Molipa\TmlShipping\Console\Command\RetryOutboxCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Shipping\Model\CarrierFactory">
        <arguments>
            <argument name="carriers" xsi:type="array">
                <item name="tml" xsi:type="string">Molipa\TmlShipping\Model\Carrier\Tml</item>
            </argument>
        </arguments>
    </type>
</config>
